page-chat-room {
  .user_name {
    color: #fdfdfb;
    font-weight: bolder;
    font-size: 17px;
    text-align: left;
  }
  .message {
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
  }
  .my_message {
    //background: color($colors, primary) !important;
    background: #2ab858 !important;
    //color: #000 !important;
  }
  .other_message {
    background: #212020 !important;
    color: #000 !important;
  }
  .time {
    font-size: 14px;
    color: #fdfdfb;
    text-align: right;
    //font-size: small;
  }
  .message_row {
    background-color: #fff;
  }
  .chatText {
    text-align: left;
    font-size: 17px;
    margin-left: 6px;
    color: white;
  }

  ion-toolbar {
    ion-row {
      background: #212020 !important;
    }
    ion-input {
      //background: #fdfdfb !important;
      padding-left: 10px;
      background: #808080 !important;
      color: white !important;
    }
    .sendBtn {
      background: #2ab858 !important;
      color: red !important;
    }
  }
}
