<ion-header>

  <ion-navbar>
    <ion-title>{{activity?.activity_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="liveActivityInfo">
    <ion-item><span>Provider Name</span>
      <p>{{activity?.provider?.name}}</p></ion-item>
    <ion-item><span>Description</span>
      <p>{{activity?.activity_description}}</p></ion-item>
    <ion-item><span>Date</span>
      <p>{{activity?.activity_date|convertDate}}</p></ion-item>
    <ion-item *ngIf="activity?.source"><span>Source address</span>
      <p>{{activity?.source}}</p></ion-item>
    <ion-item *ngIf="activity?.destination"><span>Destination address</span>
      <p>{{activity?.destination}}</p></ion-item>
    <ion-item *ngIf="activity?.notes"><span>Notes</span>
      <p>{{activity?.notes}}</p></ion-item>
    <ion-item><span>Status</span> <span [ngClass]="{'live':activity?.status?.value ==='live'}"><p>{{activity?.status?.value}}</p></span>
    </ion-item>
  </ion-card>

  <ion-row
    *ngIf="!activity?.isVote && activity?.status?.value === 'done' && activity?.consumer?.id === userService?.thisProfile?.keyForFirebase">
    <ion-item class="voteYourExperience">Vote your experience</ion-item>

    <ion-col col-6 class="voteWrapper">
      <button icon-only (click)="vote('up')" class="voteUp">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6 class="voteWrapper">
      <button icon-only (click)="vote('down')" class="voteDown">
        <ion-icon name="thumbs-down"></ion-icon>
      </button>
    </ion-col>
  </ion-row>


  <button ion-button block class="greenButton"
          *ngIf="isLive=='live' &&  activity?.status?.value !=='done' && activity?.provider?.id === userService?.thisProfile?.keyForFirebase "
          (click)="finish(activity)">Finish Activity
  </button>
  <button ion-button block class="redButton" *ngIf="activity?.status?.value ==='approved'"
          (click)="cancel(activity)">Cancel Activity
  </button>

</ion-content>
