<ion-header>

  <ion-navbar>
    <ion-title>{{activity?.activity_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>Provider Name: {{activity?.provider?.name}}</ion-item>
    <ion-item>Description: {{activity?.activity_description}}</ion-item>
    <ion-item>Date: {{activity?.activity_date|convertDate}}</ion-item>
    <ion-item *ngIf="activity?.source">Source address: {{activity?.source}}</ion-item>
    <ion-item *ngIf="activity?.destination">Destination address: {{activity?.destination}}</ion-item>
    <ion-item *ngIf="activity?.notes">Notes: {{activity?.notes}}</ion-item>
    <ion-item>Status: <span [ngClass]="{'live':activity?.status?.value ==='live'}">{{activity?.status?.value}}</span>
    </ion-item>
  </ion-card>

  <button ion-button block class="greenButton"
          *ngIf="isLive=='live' &&  activity?.status?.value !=='done' && activity?.provider?.id === userService?.thisProfile?.keyForFirebase "
          (click)="finish(activity)">Finish Activity
  </button>
  <button ion-button block class="redButton" *ngIf="activity?.status?.value ==='approved'"
          (click)="cancel(activity)">Cancel Activity
  </button>

</ion-content>
