ion-card {
  background: #121212 !important;
  .login-form__buttons {
    margin: 0 !important;
    padding: 0 !important;
  }
  .loginButton {
    margin-bottom: 0 !important;
  }
  ion-item:first-child {
    padding-top: 5px;
  }
}

.loginError {
  font-weight: bolder;
  padding: 10px 0 10px 16px !important;
  background: #f53d3d !important;
}
