<form #profileForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-row>
          <ion-col *ngIf="showLoader">
            <ion-item>
              <div class="loader"></div>
              <div class="pleaseComplete">Uploading..</div>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="!showLoader">
            <ion-item>
              <img class="profilePic" src="{{ userService?.thisProfile?.profilePic }}">
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-icon class="takePicture" name="md-camera" (click)="takePhoto()"></ion-icon>
            <ion-icon class="uploadPicture" name="md-image" (click)="selectPhoto()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input [(ngModel)]="userService?.thisProfile.firstName"
                   type="text"
                   name="firstName"
                   #firstName="ngModel"
                   clearInput
                   required
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <div class="inputMissing" *ngIf="firstName?.invalid && firstName?.dirty">
        <span class="global__input-error">Must enter First Name</span>
      </div>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input [(ngModel)]="userService?.thisProfile.lastName"
                   type="text"
                   name="lastName"
                   #lastName="ngModel"
                   clearInput
                   required
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <div class="inputMissing" *ngIf="lastName?.invalid && lastName?.dirty">
        <span class="global__input-error">Must enter Last Name</span>
      </div>
      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input [(ngModel)]="userService?.thisProfile.location"
                   (click)="showAddressModal()"
                   type="text"
                   name="location"
                   #location="ngModel"
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input [(ngModel)]="userService?.thisProfile.phoneNumber"
                   type="number"
                   min="0"
                   name="phoneNumber"
                   #phoneNumber="ngModel"
                   required
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <div class="inputMissing" *ngIf="phoneNumber?.invalid && phoneNumber?.dirty">
        <span class="global__input-error">Must enter Phone Number</span>
      </div>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input [(ngModel)]="userService?.thisProfile.description"
                   type="text"
                   name="description"
                   #description="ngModel"
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"
                      [(ngModel)]="userService?.thisProfile.dateOfBirth"
                      [pickerOptions]="dateOfBirthOptions"
                      #dateOfBirth="ngModel"
                      [ngModelOptions]="{standalone: true}"
                      [disabled]="readOnly"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Skills</ion-label>
        <ion-input [(ngModel)]="skill"
                   type="text"
                   name="skill"
                   [disabled]="readOnly"></ion-input>
      </ion-item>
      <ion-item *ngIf="skill !== ''">
        <button ion-button (click)="addItem(skill)">
          <ion-icon name="add-circle" class="skillBtn"></ion-icon>
          <span class="addClearSkills">Add</span>
        </button>
        <button ion-button (click)="cancelNew()">
          <ion-icon class="skillBtn" name="remove-circle"></ion-icon>
          <span class="addClearSkills">Clear</span>
        </button>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let item of skills; let i = index">
            <span>
              <button clear [disabled]="readOnly" (click)="remove(i)">
                <ion-icon class="removeRed" name="close"></ion-icon>
              </button>
              {{item}}
            </span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button *ngIf="!hasProfile" class="greenButton" ion-button (click)="saveProfile()"
          [disabled]="profileForm?.invalid">Save
  </button>
  <button *ngIf="hasProfile" class="greenButton" ion-button (click)="updateProfile()"
          [disabled]="profileForm?.invalid ||readOnly">Update
  </button>
</form>
