<form #profileForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="profile.profilePic && !hasProfilePicAbdUploadNew">
              <img class="profilePic" src="{{ profile.profilePic }}">
            </ion-item>
            <ion-item *ngIf="showLoader">
              <div class="loader"></div>
              <div class="pleaseComplete">Uploading..</div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-icon class="takePicture" name="md-camera" (click)="takePhoto()"></ion-icon>
            <ion-icon class="uploadPicture" name="md-image" (click)="selectPhoto()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input [(ngModel)]="profile.firstName"
                   type="text"
                   name="firstName"
                   #firstName="ngModel"
                   clearInput
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="firstName.invalid && firstName.dirty">
        <span class="global__input-error">Must enter First Name</span>
      </div>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input [(ngModel)]="profile.lastName"
                   type="text"
                   name="lastName"
                   #lastName="ngModel"
                   clearInput
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="lastName.invalid && lastName.dirty">
        <span class="global__input-error">Must enter Last Name</span>
      </div>
      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input [(ngModel)]="profile.location"
                   (click)="showAddressModal()"
                   type="text"
                   name="location"
                   #location="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input [(ngModel)]="profile.phoneNumber"
                   type="number"
                   min="0"
                   name="phoneNumber"
                   #phoneNumber="ngModel"
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="phoneNumber.invalid && phoneNumber.dirty">
        <span class="global__input-error">Must enter Phone Number</span>
      </div>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input [(ngModel)]="profile.description"
                   type="text"
                   name="description"
                   #description="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"
                      [(ngModel)]="profile.dateOfBirth"
                      [pickerOptions]="dateOfBirthOptions"
                      #dateOfBirth="ngModel"
                      [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="profile.type"
                    #type="ngModel"
                    required
                    [ngModelOptions]="{standalone: true}">
          <ion-option value="consumer">Consumer</ion-option>
          <ion-option value="provider">Provider</ion-option>
          <ion-option value="both">Provider & Consumer</ion-option>
        </ion-select>
      </ion-item>
      <div padding *ngIf="type.invalid && type.dirty">
        <span class="global__input-error">Must Choose Type</span>
      </div>
      <span *ngIf="profile.type == 'provider' || profile.type == 'both' ">
        <ion-item>
          <ion-label floating>Skills</ion-label>
          <ion-input [(ngModel)]="skill"
                     type="text"
                     name="skill"></ion-input>
        </ion-item>
        <button clear [disabled]="skill == ''" ion-button (click)="cancelNew()">Clear</button>
        <button clear [disabled]="skill == ''" ion-button (click)="addItem(skill)">
          <ion-icon name="add"> Add skill</ion-icon>
        </button>
        <ion-list>
          <ion-item *ngFor="let item of skills; let i = index">
            <span>
              <button clear (click)="remove(i)">
                <ion-icon class="removeRed" name="remove"></ion-icon>
              </button>
              {{item}}
            </span>
          </ion-item>
        </ion-list>
      </span>
    </ion-card-content>
  </ion-card>
  <button *ngIf="!hasProfile" class="saveUpdateButtons" outline ion-button (click)="saveProfile()" [disabled]="profileForm.invalid">Save</button>
  <button *ngIf="hasProfile" class="saveUpdateButtons" outline ion-button (click)="updateProfile()" [disabled]="profileForm.invalid">Update</button>
</form>
