<form #communityForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="community.type"
                    #type="ngModel"
                    required
                    [ngModelOptions]="{standalone: true}">
          <ion-option value="Secured">Secured</ion-option>
          <ion-option value="Private">Private</ion-option>
          <ion-option value="Public">Public</ion-option>
        </ion-select>
      </ion-item>
      <div padding *ngIf="type.invalid && type.dirty">
        <span class="global__input-error">Must Choose Type</span>
      </div>
      <ion-item>
        <ion-label floating>Community Name</ion-label>
        <ion-input [(ngModel)]="community.communityName"
                   type="text"
                   name="communityName"
                   #communityName="ngModel"
                   clearInput
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="communityName.invalid && communityName.dirty">
        <span class="global__input-error">Must enter Community Name</span>
      </div>
      <ion-item>
        <ion-label floating>Community Description</ion-label>
        <ion-input [(ngModel)]="community.communityDescription"
                   type="text"
                   name="communityDescription"
                   #communityDescription="ngModel"
                   clearInput
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="communityDescription.invalid && communityDescription.dirty">
        <span class="global__input-error">Must enter Community Description</span>
      </div>
    </ion-card-content>
  </ion-card>
  <button class="create-new-community-btn" ion-button (click)="createCommunity()" outline
          [disabled]="communityForm.invalid">Create
  </button>
</form>
