<form #communityForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Community Name</ion-label>
        <ion-input [(ngModel)]="communityService?.thisCommunity.communityName"
                   type="text"
                   name="communityName"
                   #communityName="ngModel"
                   clearInput
                   required></ion-input>
        <!--#focusInput -->
      </ion-item>
      <div padding *ngIf="communityName?.invalid && communityName?.dirty">
        <span class="global__input-error">Must enter Community Name</span>
      </div>
      <ion-item>
        <ion-label floating>Community Description</ion-label>
        <ion-input [(ngModel)]="communityService?.thisCommunity.communityDescription"
                   type="text"
                   name="communityDescription"
                   #communityDescription="ngModel"
                   clearInput
                   required></ion-input>
      </ion-item>
      <div padding *ngIf="communityDescription?.invalid && communityDescription?.dirty">
        <span class="global__input-error">Must enter Community Description</span>
      </div>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="communityService?.thisCommunity.type"
                    #type="ngModel"
                    required
                    name="type">
          <ion-option value="Secured">SECURED - Join by admin invitation</ion-option>
          <ion-option value="Private">PRIVATE - Join By request</ion-option>
          <ion-option value="Public">PUBLIC - Open to all</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="createCommunity()" outline
          [disabled]="communityForm?.invalid || type?.value ===''">Create
  </button>
</form>
