page-communities {
  ion-icon {
    margin-right: 5px;
  }
  ion-footer {
    text-align: right;
    ion-icon {
      margin-right: 37px;
      font-size: 3em;
      color: red;
      font-weight: bolder;
    }
    .noCommunities {
      margin-bottom: 63px;
      margin-right: 30px;
    }
  }
  .fab {
    color: #121212 !important;
    background: #fdfdfb !important;
  }
}
