<ion-list>
  <ion-item *ngFor="let community of communityService?.thisCommunities" (click)="openCommunity(community)">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col class="colDescription">
        <h2 class="community-name">{{community?.communityName}}</h2>
        <p class="description" *ngIf="community?.description != ''">{{community?.communityDescription}}</p>
        <p>{{community?.type}}</p>
        <p>{{community?.members?.length}} Member{{community?.members?.length >1 ? 's':''}}</p>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>
<ion-card padding *ngIf="communityService?.thisCommunities.length ==0">
  <p class="noCommunities">You have not joined any community yet</p>
</ion-card>
