communities-component {
  ion-item {
    padding-right: 16px !important;
    background: #121212 !important;
    color: #fdfdfb !important;
    border: none !important;
    .community-name {
      font-weight: bold;
    }
    p {
      color: #C0C0C0 !important;
    }
  }
  ion-icon {
    font-size: 3.2em !important;
    margin-top: 11% !important;
  }
  .colDescription {
    text-align: left !important;
  }
}

