activity-mapping {
  * {
    margin: 0 !important;
    padding: 0 !important;
  }
  ion-card {
    background: #212020 !important;
    width: 98% !important;
    margin: 10px auto 0 auto !important;
    border: 2px solid #2ab858 !important;
    border-radius: 5px !important;
    padding: 2px !important;
    ion-item {
      padding-left: 10px !important;
      p {
        color: #fdfdfb !important;
        font-size: 1em !important;
        margin-bottom: 5px !important;
      }
      p:nth-child(1) {
        font-size: 1.3em !important;
      }
    }
    .addToCalenderButton {
      border: none;
      padding: 0;
      width: 100%;
    }
  }
  .activityTitle {
    color: #808080 !important;
  }
}
