<ion-card *ngFor="let activity of activities">
  <button class="addToCalenderButton" readonly (click)="showData(activity)">
    <ion-item>
      <p><strong>{{activity?.activity_name}}</strong></p>
      <p class="activityTitle">Activity Date</p>
      <p>{{activity?.activity_date | convertDate}}</p>
      <p class="activityTitle">Location</p>
      <p>{{activity?.source}}</p>
      <p class="activityTitle">{{userService.thisProfile.keyForFirebase === activity.consumer.id ? 'Provider':'Consumer'}}</p>
      <p>{{userService.thisProfile.keyForFirebase === activity.consumer.id ? activity.provider.name:activity.consumer.name}}</p>
    </ion-item>
  </button>
</ion-card>
