<form #activityForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input [(ngModel)]="activity.activity_name"
                   type="text"
                   name="activityName"
                   #activityName="ngModel"
                   clearInput
                   required>
        </ion-input>
      </ion-item>
      <div padding *ngIf="activityName?.invalid && activityName?.dirty">
        <span class="global__input-error">Must enter an activity name</span>
      </div>
      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-input [(ngModel)]="activity.activity_description"
                   type="text"
                   name="activityDescription"
                   #activityDescription="ngModel"
                   clearInput
                   required>
        </ion-input>
      </ion-item>
      <div padding *ngIf="activityDescription?.invalid && activityDescription?.dirty">
        <span class="global__input-error">Must enter an activity description!</span>
      </div>
      <ion-item>
        <ion-label>Date:</ion-label>
        <ion-datetime [(ngModel)]="displayDateAsISO"
                      [min]="now"
                      max="2025"
                      displayFormat="DD/MM/YYYY HH:mm"
                      name="activity_date"
                      [pickerOptions]="activity_date"
                      #activity_date="ngModel"
                      required>
        </ion-datetime>
      </ion-item>
      <div padding *ngIf="activity_date?.invalid && activity_date?.dirty">
        <span class="global__input-error">Must enter a valid date!</span>
      </div>
      <ion-item>
        <ion-label>Recurrence</ion-label>
        <ion-select [(ngModel)]="activity.recurring"
                    #activityRecurring="ngModel"
                    name="activityRecurring"
                    required>
          <ion-option value="Once">Once</ion-option>
          <ion-option value="Daily">Daily</ion-option>
          <ion-option value="Weekly">Weekly</ion-option>
          <ion-option value="Monthly">Monthly</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Notes:</ion-label>
        <ion-input [(ngModel)]="activity.notes"
                   type="text"
                   name="notes"
                   #notes="ngModel"
                   clearInput>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Source address:</ion-label>
        <ion-input [(ngModel)]="activity.source"
                   (click)="showAddressModal('source')"
                   type="text"
                   name="source"
                   #source="ngModel"
                   clearInput
                   required>
        </ion-input>
      </ion-item>
      <div padding *ngIf="source?.invalid && source?.dirty">
        <span class="global__input-error">Must enter a source!</span>
      </div>
      <ion-item>
        <ion-label floating>Destination address:</ion-label>
        <ion-input [(ngModel)]="activity.destination"
                   (click)="showAddressModal('destination')"
                   type="text"
                   name="destination"
                   #notes="ngModel"
                   clearInput>
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button class="create-new-activity-btn" (click)="createActivity('create')" class="greenButton"
          [disabled]="activityForm?.invalid" *ngIf='!currentActivity'>Create Activity
  </button>
  <button ion-button class="create-new-activity-btn" (click)="createActivity('update')" class="greenButton"
          [disabled]="activityForm?.invalid" *ngIf='currentActivity'>Update Activity
  </button>
</form>
