activity-creation-form {
  .create-new-activity-btn {
    width: 100%;
    margin: 0;
    border-left: 0;
    border-right: 0;
  }
  ion-card {
    ion-item {
      background: #212020 !important;
    }
    ion-label {
      color: #fdfdfb !important;
      font-weight: bold !important;
    }
    ion-input, ion-datetime, ion-select {
      color: #808080 !important;
    }
  }
}
