<ion-header>

  <ion-navbar>
    <ion-title>notification</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let notification of notifications;let i = index">
    <ion-icon class="deleteNotification" name="close" (click)="deleteNotification(notification,i)"></ion-icon>
    <button class="notification" readonly (click)="handleNotificationEvent(notification,i)"
            [disabled]="notification.status ==='done'">
      <ion-item>
        <ion-row>
          <ion-col col-9>
            <p>From: {{notification.from.fullName}}</p>
            <p>Event: {{notification.event}}</p>
            <p *ngIf="notification,content">Content: {{notification.content}}</p>
            <p>[{{i}}] - {{notification.creation_date}}</p>
          </ion-col>
          <ion-col>
            <p>{{notification.status ==='done' ? 'read':'unread'}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </button>
  </ion-card>
</ion-content>
