<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card padding *ngIf="notificationService?.notifications?.length ==0">
    <p>No Notifications</p>
  </ion-card>
  <ion-card *ngFor="let notification of notificationService?.notifications; let i = index" class="notifications">
    <button class="notification" readonly (click)="handleNotificationEvent(notification,i)"
            [disabled]="notification?.status ==='done'">
      <ion-item>
        <ion-row>
          <ion-col col-9>
            <p>{{notification?.from?.fullName}}</p>
            <p *ngIf="notification?.content">{{notification?.content}}</p>
            <p>{{notification?.creation_date}}</p>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-item>
    </button>
    <ion-icon class="deleteNotification" name="close" (click)="deleteNotification(notification,i)"></ion-icon>
  </ion-card>
</ion-content>
