page-notification {
  ion-card {
    width: 100% !important;
    margin: 0 !important;;
    padding: 0 !important;;
  }
  ion-item {
    padding: 1px 0 0 1px !important;
    background: aliceblue !important;
  }
  .notification {
    border: none;
    padding: 0;
    width: 100%;

    ion-col:first-child {
      text-align: left;
    }
    ion-col:last-child {
      text-align: right;
    }
  }
  .deleteNotification {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 5px;
    z-index: 1;
  }
}
