page-notification {
  .notifications {
    //width: 100% !important;
    //margin: 0 !important;;
    padding: 0 !important;;
  }
  ion-card {
    margin-top: 14px !important;
    border: 1px solid #808080 !important;
    border-radius: 6px !important;
    button {
      background: #212020 !important;
    }
    color: red;
    ion-item {
      padding: 1px 0 0 1px !important;
      background: #212020 !important;
      p {
        font-size: 17px !important;
        color: #fdfdfb !important;
        font-weight: normal;
      }
      p:first-child {
        font-weight: bolder;
      }
    }
  }


  .notification {
    border: none;
    padding: 0;
    width: 100%;

    ion-col:first-child {
      text-align: left;
    }
    ion-col:last-child {
      text-align: right;
    }
  }
  .deleteNotification {
    background: #212020 !important;
    font-size: 2.2em;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 1;
  }

  .item-inner {
  }
}
