// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #9D9D9D,
  success: #32db64,
  danger: #f53d3d,
  lightDanger: lightcoral,
  light: #f4f4f4,
  dark: #222,
  almostwhite: #fdfdfb
);

.global__input-error{
  color:#fdfdfb ;
}

.searchCommunityUser{
  padding: 0 0 20px 10px !important;
}

ion-app .scroll-content {
  padding: 0 !important;
}

.button {
  border-radius: 0 !important;
}

.card-content {
  padding: 0 !important;
}

.highLight {
  background: #10FDFF !important;
}

.arrows {
  float: right;
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
  padding: 16px !important;
}

.results {
  margin-left: 15px;
  margin-bottom: 10px;
  color:#fdfdfb ;
}

ion-fab {
  ion-icon {
    font-size: 3rem !important;
    position: absolute;
  }
}

.fab-close-icon {
  margin: 0;
}

ion-fab-list[side=top] {
  position: absolute !important;
  right: 0 !important;
}

ion-fab-list[side=left] {
  //width: 150px !important;
}

.fabName {
  //text-align: center;
}

.createNewFab {
  //width: 50px !important;
}

.tabbar,
.toolbar-background {
  background: #212020 !important;
}

.tab-button-icon {
  color: #808080 !important;
}

[aria-selected=true] .tab-button-icon,
.tab-button[aria-selected=true],
.toolbar-title {
  color: #fdfdfb !important;
  font-weight: bolder !important;
}

.scroll-content {
  background: #121212 !important;
}

.fab {
  color: #fdfdfb !important;
  background: #2ab858 !important;
}

.back-button {
  color: #fdfdfb !important;
}

.item-block:last-child {
  border-bottom: none !important;
}

.greenButton {
  font-weight: bold !important;
  color: #fdfdfb !important;
  background: #2ab858 !important;
  border: none !important;
}

.redButton {
  background: #f53d3d !important;
  color: #fdfdfb !important;
  border: none !important;
}

.midGreenButton {
  font-weight: bold !important;
  border: 2px solid #2ab858 !important;
  background: transparent !important;
  margin-bottom: 10px;
}

.redButton, .greenButton, .midGreenButton {
  margin: 3% auto 3% auto !important;
  width: 94% !important;
  display: block !important;
}

ion-alert {
  color: #fdfdfb !important;
}

.alert-head,
.alert-message,
.alert-button,
.loading-wrapper,
.alert-wrapper {
  background: #808080 !important;
}

.alert-button,
.loading-wrapper,
.alert-wrapper,
.alert-radio-label {
  color: #fdfdfb !important;
}

.alert-wrapper {
  max-width: 80% !important;
  width: 80% !important;
}

.alert-input {
  color: #212020 !important;
}

[aria-checked=true] .alert-radio-label {
  color: #2ab858 !important;
}

[aria-checked=true] .alert-radio-inner {
  border-color: #2ab858 !important;
}

.inputMissing {
  background: #212020 !important;
  color: #f53d3d !important;
  font-weight: bolder !important;
  font-size: 15px !important;
  padding: 5px 0 5px 15px !important;
}

.greenStatus {
  border: 3px solid #2ab858 !important;
}

.redStatus {
  border: 3px solid #f53d3d !important;
}

.greenStatusNoPic {
  color: #2ab858 !important;
}

.redStatusNoPic {
  color: #f53d3d !important;
}

.tab-badge {
  background: #cc0000 !important;
}

.directionArrow {
  color: #2ab858 !important;
}

.picker-toolbar {
  color: brown !important;
  background: #808080 !important;
}

.picker-wrapper {
  color: red !important;
  background: #808080 !important;
}

.picker-above-highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #808080), to(rgba(255, 255, 255, 0.7))) !important;
}

.picker-below-highlight {
  background: linear-gradient(to top, #808080 30%, rgba(255, 255, 255, 0.7) 100%) !important;
}

.voteYourExperience {
  text-align: center !important;
  background: #212020 !important;
  color: #808080 !important;
}
.voteYourExperience .item-inner {
  border: none !important;
}

.voteWrapper {
  margin-top: 20px !important;
}
.voteWrapper:nth-child(2) {
  text-align: right;
}
.voteWrapper:nth-child(3) {
  text-align: left;
}

.voteUp {
  color: #2ab858;
  background: none;
  font-size: 2em;
}
.voteDown {
  color: #f53d3d;
  background: none;
  font-size: 2em;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
