<ion-header>

  <ion-navbar>
    <ion-title>Search Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #searchUsersForm="ngForm" novalidate>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Search Users</ion-label>
          <ion-input [(ngModel)]="query"
                     type="text"
                     name="search"
                     required></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row class="register-form__button">
        <ion-col col-8>
          <code>Search users by typing their name or a part of it </code>
        </ion-col>
        <ion-col col-4>
          <button ion-button outline (click)="searchUsers()" [disabled]="searchUsersForm.invalid">Search</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
  <hr>
  <ion-list *ngIf="foundResults">
    <ion-item class="pointer" *ngFor="let user of users" (click)="openOptions(user)">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>{{user.description}}</p>
      <p>{{user.type}}</p>
    </ion-item>
  </ion-list>
  <ion-row>
    <span>{{noUsersFound}}</span>
  </ion-row>
</ion-content>
