<ion-header>

  <ion-navbar>
    <ion-title>Search Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #searchUsersForm="ngForm" novalidate>
    <ion-card>
      <ion-card-content>
        <ion-item class="searchCommunityUser">
          <ion-label floating>Search Users</ion-label>
          <ion-input [(ngModel)]="query"
                     type="text"
                     name="search"
                     required
                     (input)="searchUsers()"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-list *ngIf="foundResults">
    <ion-row>
      <span class="results">Found {{users?.length}} result(s)</span>
    </ion-row>
    <ion-item class="pointer" *ngFor="let user of users" (click)="openOptions(user)">

      <ion-row>
        <ion-col class="profile" col-2>
          <img class="profilePic" src="{{user?.profilePic}}">
          <ion-icon *ngIf="!user?.profilePic" name="contact"></ion-icon>
        </ion-col>
        <ion-col class="content">
          <h2>{{user?.fullName}}</h2>
          <p class="description" *ngIf="user?.description != ''">"{{user?.description}}"</p>
          <p>{{user?.location}}</p>
          <p>
            <rank [rank]="user?.rank"></rank>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-card padding *ngIf="noUsersFound">
    <p>{{noUsersFound}}</p>
  </ion-card>
</ion-content>
