page-search-users {
  ion-spinner {
    margin: 0 auto !important;
  }
  .profile {
    ion-icon {
      display: block;
      color: #9D9D9D;
      font-size: 3.5em;
    }
  }
  .content {
    text-align: left;
    .description {
      font-style: italic;
    }
  }

  ion-item, ion-card {
    background: #212020 !important;
    color: #808080 !important;
  }
}
