<ion-list class="popoverProfile">
  <!--<ion-item>-->
    <!--<h6>Community Description</h6>-->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<p>Description: {{community.communityDescription}}</p>-->
    <!--<p>Type: {{community.type}}</p>-->
  <!--</ion-item>-->
  <ion-item *ngIf="isJoined">
    <span (click)="leaveCommunity()">Leave Community</span>
  </ion-item>
  <ion-item *ngIf="isJoined && community.managerId == profile.keyForFirebase">
    <span (click)="deleteProfilePopup()">Delete Community</span>
  </ion-item>
</ion-list>
