<ion-card class="activities" *ngIf="activities?.length>0">
  <ion-item (click)="showActivities = !showActivities">
    <span class="title">Activities:</span>
    <ion-icon *ngIf="!showActivities" class="arrows" name="ios-arrow-down"></ion-icon>
    <ion-icon *ngIf="showActivities" class="arrows" name="ios-arrow-up"></ion-icon>
  </ion-item>
  <hr>
  <ion-list *ngIf="showActivities">
    <ion-item *ngFor="let activity of activities"
              paintAfterChange
              [changer]="activity"
              [activityLength]="activities?.length"
              (click)="openActivity(activity)">
      <strong>{{activity?.activity_name}}</strong>
      <p>Activity date: {{activity?.activity_date}}</p>
      <p>Type: {{activity?.type}}</p>
      <p>Created by <strong>{{activity?.consumer?.name}}</strong></p>
    </ion-item>
  </ion-list>
</ion-card>


