activities-component {
  ion-spinner {
    position: absolute !important;
  }
  .activities {
    ion-item ion-label, ion-item .label-md {
      margin: 2px 0;
    }
    ion-item {
      background: #212020 !important;
      color: #fdfdfb !important;
      .title {
        font-weight: bold;
        color: #8e9093;
        font-size: 14px;
      }
    }
  }
  .activityDescription {
    text-align: left;
  }
  .activityIcon {
    line-height: 2;
    font-size: 2em;
  }
}
