<ion-card class="activities" *ngIf="activities?.length>0">
  <ion-item (click)="showActivities = !showActivities">
    <span class="title"> {{showActivities ? ' Activities': 'Click to view activities'}}</span>
    <ion-icon *ngIf="!showActivities" class="arrows" name="ios-arrow-down"></ion-icon>
    <ion-icon *ngIf="showActivities" class="arrows" name="ios-arrow-up"></ion-icon>
  </ion-item>
  <ion-list *ngIf="showActivities">
    <ion-item *ngFor="let activity of activities"
              (click)="openActivity(activity)">
      <ion-row>
        <ion-col col-2 class="activityIcon">
          <ion-icon name="calendar"></ion-icon>
        </ion-col>
        <ion-col class="activityDescription">
          <strong>{{activity?.activity_name}}</strong>
          <p>
            {{activity?.activity_date | convertDate}}
          </p>
          <p>Owner: <strong>{{activity?.consumer?.name}}</strong></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-card>


