activities-component {
  .activities {
    ion-item ion-label, ion-item .label-md {
      margin: 2px 0;
    }
    ion-item {
    background: aliceblue;
      .title {
        font-weight: bold;
        color: #8e9093;
        font-size: 14px;
      }
    }
    hr {
     margin: 1px;
    }
  }
}
