<ion-header>

  <ion-navbar>
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card padding *ngIf="userService?.thisProfile?.chats == 0">
    <p class="noNotificationActivity">No chat room yet</p>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let chat of userService?.thisProfile?.chats" (click)="chatWith(chat)">
      <ion-row>
        <ion-col class="profile" col-2>
          <img *ngIf="chat?.profilePic" class="profilePic" src="{{ chat?.profilePic}}"
               [ngClass]="userService.changeColor(chat?.talkedToId) !== -1 ? 'greenStatus' : 'redStatus'">
          <ion-icon *ngIf="!chat?.profilePic" name="contact"
                    [ngClass]="userService.changeColor(chat?.talkedToId) !== -1 ? 'greenStatusNoPic' : 'redStatusNoPic'"></ion-icon>
        </ion-col>
        <ion-col class="chat-tab">
          <h2 class="chat-with">{{chat?.talkedToName}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
