page-messages {
  ion-card {
    margin-top: 14px !important;
    border: 1px solid #808080 !important;
    border-radius: 6px !important;
    position: relative;
  }
  .list {
    ion-item {
      border: none !important;
    }
    margin-top: 10px !important;
  }
  ion-item {
    padding: 0 !important;
    .item-inner {
      background: #212020 !important;
      padding-left: 16px !important;
      border: none !important;
    }
  }
  ion-row {
    color: #fdfdfb;
    img {
      border: 1px solid #808080;
    }
    background: #212020 !important;
    ion-icon {
      font-size: 3.7em;
    }
    .chat-tab {
      text-align: left;
      margin-left: 10px;

      .chat-with {
        display: inline-block;
        margin: 16px 0 0 0;
        font-size: 20px;
      }
    }
  }
}
