<ion-header>

  <ion-navbar>
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card padding *ngIf="roomNumberChat.length ==0">
    <p>No chat room yet</p>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let chat of roomNumberChat" (click)="chatWith(chat)">
      <ion-row>
        <ion-col class="profile" col-2>
          <img class="profilePic" src="{{ chat?.profilePic}}">
          <ion-icon *ngIf="!chat?.profilePic" name="contact"></ion-icon>
        </ion-col>
        <ion-col class="chat-tab">
          <h2 class="chat-with">{{chat?.talkedToName}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
