page-messages {
  ion-row {
    border-bottom: 1px solid gainsboro;
    ion-icon {
      font-size: 3.7em;
    }
    .chat-tab {
      text-align: left;
      margin-left: 10px;

      .chat-with {
        display: inline-block;
        margin: 16px 0 0 0;
        font-size: 20px;
      }
    }
  }
}
