<ion-header>

  <ion-navbar>
    <ion-title>{{activity?.activity_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only
              *ngIf="userService?.thisProfile?.keyForFirebase == activity?.consumer?.id && activity?.status?.value==='open'"
              (click)="editActivity()">
        <ion-icon name="construct" color="almostwhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>Description: {{activity?.activity_description}}</ion-card-header>
    <ion-card-header>Date: {{ activity?.activity_date | convertDate}}</ion-card-header>
    <ion-card-header>Created By: {{activity?.consumer?.name}}</ion-card-header>
    <ion-card-header *ngIf="activity?.provider && activity?.provider?.id">Provider: {{activity?.provider?.name}}
    </ion-card-header>
    <ion-card-header>Source: {{activity?.source}}</ion-card-header>
    <ion-card-header *ngIf="activity?.destination">Destination: {{activity?.destination}}</ion-card-header>

    <button ion-button block (click)="openSearchPage(activity?.status?.fullName)"
            *ngIf="activity?.status?.value ==='claimed' && activity?.consumer?.id == userService?.thisProfile?.keyForFirebase">
      Claimed
      By: {{activity?.status?.fullName}}
    </button>

  </ion-card>
  <button ion-button block color="primary" outline
          *ngIf="activity?.consumer?.id === userService?.thisProfile?.keyForFirebase && activity?.status?.value === 'claimed'"
          (click)="approveActivity()">Approve Activity
  </button>
  <button ion-button block color="danger" outline
          *ngIf="activity?.consumer?.id === userService?.thisProfile?.keyForFirebase && activity?.status?.value === 'claimed'"
          (click)="declineActivity()">Decline Activity
  </button>
  <button ion-button block color="danger" class="redButton"
          *ngIf="(userService?.thisProfile?.keyForFirebase == activity?.consumer.id || userService?.thisProfile?.keyForFirebase == community?.manager?.id) && (activity?.status?.value !== 'approved' && activity?.status?.value !== 'claimed')"
          (click)="deleteActivityPopUp()">Delete
  </button>
  <button ion-button block color="primary" outline
          *ngIf="activity?.consumer?.id !== userService?.thisProfile?.keyForFirebase && activity?.status?.value === 'open'"
          (click)="claimActivity()">Claim
  </button>

  <ion-card *ngIf="activity?.status?.user_id === userService?.thisProfile?.keyForFirebase" padding>
    <p>Pending to user approval</p>
  </ion-card>
  <ion-card *ngIf="activity?.status?.value === 'approved'" padding>
    <p>This activity was approved</p>
  </ion-card>
</ion-content>


