page-activity-info {
  ion-card-header {
    background: #212020 !important;
    color: #fdfdfb !important;
  }
  ion-content {
    ion-header {
      color: #fdfdfb;
      font-weight: bold;
      text-align: center;
      font-size: 170%;
    }
    ion-card {
      margin-top: 10% !important;
    }
  }
}
