page-activity-info {
  ion-card-header {
    background: #212020 !important;
    color: #fdfdfb !important;
  }
  .redButton {
    background: #f53d3d !important;
    color: #fdfdfb !important;
    border: none !important;
    margin: 2% auto 0 auto !important;
    width: 94% !important;
    display: block !important;
  }
}
