page-activity-info {
  ion-card-header {
    background: #212020 !important;
    color: #fdfdfb !important;
  }
  ion-content {
    ion-header {
      color: #fdfdfb;
      font-weight: bold;
      text-align: center;
      font-size: 170%;
      margin-top: 1%;
    }
    ion-card {
      margin-top: 10% !important;
    }
  }
  .details {
    span {
      color: #808080 !important;
      font-size: 14px !important;
    }
    p {
      color: #fdfdfb !important;
      font-size: 17px !important;
    }
  }

}
