<ion-card class="members">
  <ion-item (click)="showMembers = !showMembers">
    <span class="title">{{showMembers ? '': 'Click to view'}} Community Members</span>
    <ion-icon *ngIf="!showMembers" class="arrows" name="ios-arrow-down"></ion-icon>
    <ion-icon *ngIf="showMembers" class="arrows" name="ios-arrow-up"></ion-icon>
  </ion-item>
  <ion-list *ngIf="showMembers">
    <ion-item *ngFor="let member of members" (click)="openOptions(member)">
      <ion-row>
        <ion-col class="profile" col-2>
          <img class="profilePic" src="{{ member?.profilePic}}">
          <ion-icon *ngIf="!member?.profilePic" name="contact"></ion-icon>
        </ion-col>
        <ion-col class="content">
          <strong>{{member?.fullName}}</strong>
          <p class="description" *ngIf="member?.description != ''">"{{member?.description}}"</p>
          <span class="community-manager" *ngIf="community?.manager?.id === member?.keyForFirebase">
              Community Manager
          </span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-card>
