<ion-card class="members">
  <ion-item (click)="showMembers = !showMembers">
    <span>Members:</span>
    <ion-icon *ngIf="!showMembers" class="arrows" name="ios-arrow-down"></ion-icon>
    <ion-icon *ngIf="showMembers" class="arrows" name="ios-arrow-up"></ion-icon>
  </ion-item>
  <hr>
  <ion-list *ngIf="showMembers">
    <ion-item *ngFor="let member of members" (click)="openOptions(member)">
      <strong>{{member.firstName}} {{member.lastName}}</strong>
      <p>{{member.description}}</p>
      <img class="profilePic" src="{{ member.profilePic}}">
      <span *ngIf="!member.profilePic">
          <ion-icon name="contact"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
</ion-card>
