.members {

  ion-item ion-label, ion-item .label-md {
    margin: 0;
  }
  ion-item {
    //background: cornsilk;
    background: aliceblue;
  }
  hr {
    margin: 1px;
  }
  .content{
    text-align: left;
  }
  .profile{
    img{
    }
    ion-icon{
      font-size: 3em;
    }
  }
  .community-manager {
    color: limegreen;
  }
}
