<ion-header>

  <ion-navbar>
    <ion-title>Search Community</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #searchCommunityForm="ngForm" novalidate>
    <ion-card>
      <ion-card-content>
        <ion-item class="searchCommunityUser">
          <ion-label floating>Search for community</ion-label>
          <ion-input [(ngModel)]="search"
                     type="text"
                     name="search"
                     required
                     (input)="searchCommunity()"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-list *ngIf="hasCommunity">
    <ion-row>
      <span class="results">Found {{searchCommunities?.length}} result(s)</span>
    </ion-row>
    <ion-item class="pointer" *ngFor="let community of searchCommunities" (click)="openCommunity(community)">
      <h2>{{community?.communityName}}</h2>
      <p>{{community?.communityDescription}}</p>
      <p>
        <span>
            <ion-icon name="people"></ion-icon>
        </span>
        {{community?.members?.length}}
      </p>
      <p>{{community?.type}}</p>
    </ion-item>
  </ion-list>
  <ion-card padding *ngIf="noCommunityFound">
    <p>{{noCommunityFound}}</p>
  </ion-card>
</ion-content>
