<ion-header>

  <ion-navbar>
    <ion-title>Search Community</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #searchCommunityForm="ngForm" novalidate>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Search for community</ion-label>
          <ion-input [(ngModel)]="search"
                     type="text"
                     name="search"
                     required></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row class="register-form__button">
        <ion-col col-8>
          <code>Search communities by typing their name or a part of it </code>
        </ion-col>
        <ion-col col-4>
          <button ion-button outline (click)="searchCommunity()" [disabled]="searchCommunityForm.invalid">Search</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
  <hr>
  <ion-list *ngIf="hasCommunity">
    <span class="results">Found {{communities.length}} result(s)</span>
    <ion-item class="pointer" *ngFor="let community of communities" (click)="openCommunity(community)">
      <h2>{{community.communityName}}</h2>
      <p>{{community.communityDescription}}</p>
      <p>
        <span>
            <ion-icon name="people"></ion-icon>
        </span>
        {{community.members.length}}
      </p>
      <p>{{community.type}}</p>
    </ion-item>
  </ion-list>
  <ion-row>
    <span class="results">{{noCommunityFound}}</span>
  </ion-row>
</ion-content>
