member-options {
  ion-item {
    background: #212020 !important;
    color: #fdfdfb !important;
    p {
      color: #808080 !important;
      margin-bottom: 7px !important;
    }
    strong {
      color: #fdfdfb !important;
    }
  }
  .pic-wrapper {
    text-align: center;
    .profile-pic {
      width: 150px;
      margin: 0 auto;
      border-radius: 50%;
    }
    img {
      display: block;
      margin-left: 0;
    }
    .no-pic {
      font-size: 11em;
      color: #fdfdfb;
    }
  }
  ion-list {
    margin-left: 15px !important;
  }
}
