<ion-card>
  <ion-item *ngIf="member.profilePic"><img class="profilePic" src="{{ member.profilePic }}"></ion-item>
  <ion-item><strong>Name: </strong>{{member.firstName + ' ' + member.lastName}}</ion-item>
  <ion-item><strong>Description: </strong>{{member.description}}</ion-item>
  <ion-item><strong>Location: </strong>{{member.location}}</ion-item>
  <ion-item><strong>Rank: </strong>{{member.rank != '' ? 'Not ranked yet': member.rank}}</ion-item>
  <ion-item><strong>Type: </strong>{{member.type == 'both' ? 'Consumer and Provider': member.type}}</ion-item>
  <ion-item><strong>Date of birth: </strong>{{member.dateOfBirth}}</ion-item>
  <ion-item *ngIf="member.skills.length>0"><strong>skills:</strong>
    <ion-list *ngFor="let skill of member.skills">
      <ion-item>{{skill}}</ion-item>
    </ion-list>
  </ion-item>
</ion-card>
<span *ngIf="(loggedInUser.keyForFirebase == community.managerId) && isJoined">
  <button block ion-button (click)="updateUserRole()" outline>Make {{isAuthorizedMember ? roles.member : roles.auth}}</button>
  <button block ion-button color="danger" outline *ngIf="loggedInUser.keyForFirebase===community.managerId" (click)="removeUser()">Remove</button>
  <button block ion-button color="success" outline>Call</button>
</span>

<span *ngIf="(loggedInUser.keyForFirebase == community.managerId) && !isJoined">
  <button block ion-button outline>Add</button>
</span>
