<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
    <ion-buttons end>
      <button [disabled]="!hasProfile" ion-button icon-only (click)="navigateTo('SearchUsersPage')">
        <ion-icon name="search" color="dark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="menu-wrapper">

  <ion-row (click)="navigateTo('ProfilePage')">
    <ion-col class="profile" col-2>
      <img class="profilePic" src="{{ profile?.profilePic}}">
      <ion-icon class="ionContact" *ngIf="!profile?.profilePic" name="contact"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab" col-6>
      <span *ngIf="hasProfile" class="menu-title-profile">{{profile?.fullName}}</span>
      <div class="menu-details" *ngIf="hasProfile">View Your Profile</div>
      <div class="menu-details complete" *ngIf="!hasProfile">Complete Your Registration</div>
    </ion-col>
    <ion-col *ngIf="!hasProfile">
      <ion-icon class="arrow-left" name="arrow-round-back"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row (click)="navigateTo('MessagesPage')" *ngIf="hasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Chat</span>
    </ion-col>
  </ion-row>

  <ion-item class="activityLabel" *ngIf="hasProfile">Activities</ion-item>

  <ion-row (click)="navigateTo('UpcomingActivityPage')" *ngIf="hasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="briefcase"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Upcoming</span>
    </ion-col>
  </ion-row>

  <ion-row (click)="navigateTo('ActivityHistoryPage')" *ngIf="hasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="archive"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Accomplished</span>
    </ion-col>
  </ion-row>

  <ion-row (click)="deleteProfilePopup()" *ngIf="hasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="trash"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Delete Account</span>
    </ion-col>
  </ion-row>

  <ion-row (click)="signOut()" *ngIf="hasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="log-out"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Sign Out</span>
    </ion-col>
  </ion-row>

</ion-content>
