page-menu {
  ion-content:first-child {
    margin-top: 3%;
  }
  ion-row {
    .menu-tab .menu-title {
      font-size: 16px !important;
    }
    border-bottom: 3px solid #212020;
    color: #fdfdfb !important;
    ion-icon {
      font-size: 2em;
    }
    .menu-tab {
      text-align: left;
      margin-left: 10px;

      .menu-title {
        display: inline-block;
        margin: 5px 0;
        font-size: 14px;
      }
      .menu-title-profile {
        display: inline-block;
        margin: 5px 0;
        font-size: 16px;

      }
      .menu-details {
        color: gray;
      }
      .menu-details.complete {
        margin-top: 10px;
      }
    }
    .ionContact {
      font-size: 3.2em;
    }
  }
  .menu-wrapper .menu-title {
    margin-top: 6px !important;
  }
  .activityLabel {
    .item-inner {
      border: none !important;
    }
    background: #212020;
    min-height: 20px;
    font-weight: bolder;
    font-size: 12px;
    color: #fdfdfb;

    ion-label {
      margin: 6px 8px 6px 0 !important;
    }

  }
  .arrow-left {
    font-size: 3em !important;
    margin-top: 4px;
    color: red;
    font-weight: bolder;
  }
  .profile.view {
    margin-top: 4px;
  }

  .searchBtn{
    color: #808080;
  }

  ion-row:nth-child(1) {
    margin-top: 2%;
    margin-bottom: 8%;
  }

  ion-badge{
    background-color: #2ab858 !important;
  }

}
