<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
    <ion-buttons end>
      <button [disabled]="!userService?.thisHasProfile" ion-button icon-only (click)="navigateTo('SearchUsersPage')">
        <ion-icon name="search" class="searchBtn"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="menu-wrapper">

  <ion-row class="firstRow" (click)="navigateTo('ProfilePage')">
    <ion-col class="profile" col-2>
      <img class="profilePic" src="{{ userService?.thisProfile?.profilePic}}">
      <ion-icon class="ionContact" *ngIf="!userService?.thisProfile?.profilePic" name="contact"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab" col-6>
      <span *ngIf="userService?.thisHasProfile" class="menu-title-profile">{{userService?.thisProfile?.fullName}}</span>
      <div class="menu-details" *ngIf="userService?.thisHasProfile">View Your Profile</div>
      <div class="menu-details complete" *ngIf="!userService?.thisHasProfile">Complete Your Registration</div>
    </ion-col>
    <ion-col *ngIf="!userService?.thisHasProfile">
      <ion-icon class="directionArrow arrow-left" name="arrow-round-back"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row (click)="navigateTo('MessagesPage')" *ngIf="userService?.thisHasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Messages</span>
    </ion-col>
  </ion-row>

  <ion-item class="activityLabel" *ngIf="userService?.thisHasProfile">Activity Settings</ion-item>

  <ion-row (click)="navigateTo('UpcomingActivityPage')" *ngIf="userService?.thisHasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="briefcase"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Upcoming Activities
      </span>
    </ion-col>
    <ion-col col-2>
      <ion-badge *ngIf="activityService?.thisApprovedActivity?.length>0">{{activityService?.thisApprovedActivity?.length}}</ion-badge>
    </ion-col>
  </ion-row>

  <ion-row (click)="navigateTo('OngoingActivityPage')" *ngIf="userService?.thisHasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="alarm"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Ongoing Activities
      </span>
    </ion-col>
    <ion-col col-2>
      <ion-badge *ngIf="activityService?.thisOngoingActivity?.length>0">{{activityService?.thisOngoingActivity?.length}}</ion-badge>
    </ion-col>
  </ion-row>

  <ion-row (click)="navigateTo('ActivityHistoryPage')" *ngIf="userService?.thisHasProfile">
    <ion-col class="profile" col-2>
      <ion-icon name="archive"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Past Activities
      </span>
    </ion-col>
    <ion-col col-2>
      <ion-badge *ngIf="activityService?.thisDoneActivity?.length>0">{{activityService?.thisDoneActivity?.length}}</ion-badge>
    </ion-col>
  </ion-row>

  <ion-item class="activityLabel" *ngIf="userService?.thisHasProfile">Account Settings</ion-item>

  <ion-row (click)="deleteProfilePopup()">
    <ion-col class="profile" col-2>
      <ion-icon name="trash"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Delete Account</span>
    </ion-col>
  </ion-row>

  <ion-row (click)="signOut()">
    <ion-col class="profile" col-2>
      <ion-icon name="log-out"></ion-icon>
    </ion-col>
    <ion-col class="menu-tab">
      <span class="menu-title">Sign Out</span>
    </ion-col>
  </ion-row>

</ion-content>
