page-menu {
  ion-row {
    border-bottom: 1px solid gainsboro;
    ion-icon {
      font-size: 2em;
    }
    .menu-tab {
      text-align: left;
      margin-left: 10px;

      .menu-title {
        display: inline-block;
        margin: 5px 0;
        font-size: 14px;
      }
      .menu-title-profile {
        display: inline-block;
        margin: 5px 0;
        font-size: 16px;

      }
      .menu-details {
        color: gray;
      }
      .menu-details.complete {
        margin-top: 10px;
      }
    }
    .ionContact{
      font-size: 3.2em;
    }
  }
  .menu-wrapper .menu-title {
    margin-top: 6px !important;
  }

  ion-row:nth-child(1), ion-row:nth-child(2), ion-row:nth-child(5) {
    border-bottom: 5px solid gainsboro;
  }

  .activityLabel {
    background: lightgray;
    min-height: 20px;
    font-weight: bolder;
    font-size: 12px;
    color: grey;

    ion-label {
      margin: 6px 8px 6px 0 !important;
    }

  }
  .arrow-left {
    margin-top: 4px;
    color: red;
    font-weight: bolder;
  }
  .profile.view {
    margin-top: 4px;
  }
}


