<ion-header>

  <ion-navbar>
    <ion-title>{{communityService?.thisSelectedCommunity?.communityName | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card class="communityService?.thisSelectedCommunity-description">
    <ion-item class="communityDescription">
      <ion-row>
        <ion-col col-2 class="iconDescription">
          <ion-icon name="clipboard"></ion-icon>
        </ion-col>
        <ion-col class="description">
          <p class="title"><span>{{communityService?.thisSelectedCommunity?.communityDescription}}</span></p>
          <p class="title"><span>{{communityService?.thisSelectedCommunity?.type}} Community</span></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
  <members-component [community]="communityService?.thisSelectedCommunity" *ngIf="isJoined"></members-component>
  <activities-component #child [currentCommunity]="communityService?.thisSelectedCommunity"
                        *ngIf="isJoined"></activities-component>
  <ion-row>
    <button block outline ion-button color="primary" *ngIf="!isJoined && !isWaiting" (click)="joinCommunity()">
      {{communityService?.thisSelectedCommunity?.type?.toLocaleLowerCase() === 'private'? 'Ask to join':'Join'}}
    </button>
    <p *ngIf="!isJoined && isWaiting">Pending</p>
  </ion-row>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon class="moreOptions" name="more"></ion-icon>
    </button>
    <ion-fab-list side="top">

      <button ion-fab (click)="addMembers(fab)"
              *ngIf="isJoined && communityService?.thisSelectedCommunity?.manager?.id == userService?.thisProfile?.keyForFirebase">
        <ion-icon name="search"></ion-icon>
      </button>

      <!--<span class="fabName" *ngIf="isJoined">leave Community</span>-->
      <button ion-fab (click)="leavePopup(fab)" *ngIf="isJoined">
        <ion-icon name="hand"></ion-icon>

      </button>

      <button ion-fab (click)="deletePopup(fab)"
              *ngIf="isJoined && communityService?.thisSelectedCommunity?.manager?.id == userService?.thisProfile?.keyForFirebase">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>

    <ion-fab-list side="left">
      <button class="createNewFab" ion-fab (click)="createNewActivity(fab)">
        <ion-icon name="add"></ion-icon>
      </button>
      <!--<span class="fabName">Create New activity</span>-->
    </ion-fab-list>
  </ion-fab>

</ion-content>


