<!--
  Generated template for the CommunityDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{community.communityName | uppercase}}</ion-title>
    <ion-buttons end *ngIf="isJoined">
      <button ion-button icon-only (click)="presentPopover($event, isJoined)">
        <ion-icon name="more" color="dark"></ion-icon>
      </button>
      <button *ngIf="isJoined" ion-button icon-only (click)="createNewActivity()">
        <ion-icon name="add" color="dark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="communityDescriptions">
    <ion-item>
      <p><strong>Description:</strong> <span>{{community.communityDescription}}</span></p>
      <p><strong>Type:</strong> <span>{{community.type}}</span></p>
    </ion-item>
  </ion-card>
  <members-component [community]="community" *ngIf="isJoined"></members-component>
  <activities-component [currentCommunity]="community"></activities-component>
  <ion-row>
    <button block ion-button color="primary" *ngIf="!isJoined" (click)="joinCommunity()">Join</button>
  </ion-row>
</ion-content>


