page-community-details {
  .title {
    font-weight: bold;
    color: #8e9093;
    font-size: 14px;
  }
  .communityDescription {
    background-color: #121212 !important;
    color: #fdfdfb !important;
    p {
      color: #fdfdfb;
    }
  }
  .community-description {
    span {
      font-size: 14px;
    }
  }
  .iconDescription {
    ion-icon {
      font-size: 2.4em;
    }
  }
  .description {
    text-align: left;
  }
}
