page-community-details {
  .title {
    font-weight: bold;
    color: #8e9093;
    font-size: 14px;
  }
  .community-description {
    ion-item {
      background-color: aliceblue;
    }
    span {
      font-size: 14px;
    }
  }
}
